{% extends 'base.html' %}
{% block title %}Flash Card{% endblock %}
{% block content %}

<h1>Flash Card</h1>
Question: {{ card.question }}<br>
Answer: {{ card.answer }}

<p style="margin-top: 20px;">
    <a href="{{ url_for('welcome') }}">Home</a><br>
    {% if not is_first %}
    <a id="link-prev" data-prev="{{ index - 1 }}" href="{{ url_for('card', index=index - 1) }}">prev</a>
    {% endif %}
    {% if not is_first and not is_last %}
    &nbsp;
    |
    &nbsp;
    {% endif %}
    {% if not is_last %}
    <a id="link-next" data-next="{{ index + 1 }}" href="{{ url_for('card', index=index + 1) }}">next</a>
    {% endif %}
</p>

<script src="/static/app.js" async defer></script>

{% endblock %}
