{% extends 'base.html' %}
{% block title %}Flashcards in Flask{% endblock %}
{% block content %}
<h2>Flash Cards</h2>

<ul>
{% for card in cards %}

    <li>
        <a href="{{ url_for('card', index=loop.index0) }}">
            {{ card.question }}
        </a>
        -
        (
            <a href="{{ url_for('remove', index=loop.index0) }}">
                remove
            </a>
        )
    </li>         

{% endfor %}
</ul>

<p style="margin-top: 50px;">
    <a href="{{ url_for('add_card') }}">Add Card</a>
</p>

{% endblock %}