*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

.links
{
    margin-left: 20px;
}

.error
{
    color: red;
}

.info
{
    color: green;
}

.form-errors
{
    background-color: lightcoral;
}

body
{
    display: block;
}
