{% extends 'base.html' %}
{% block content %}
<h1>Basic Forms</h1>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<ul class="flash">
    {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    
    {{ form.name.label }}{{ form.name }}
    {% if form.name.errors %}
        <ul class="error">
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>

    {{ form.category.label }}{{ form.category }}
    {% if form.category.errors %}
        <ul class="error">
            {% for error in form.category.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>

    {{ form.subcategory.label }}{{ form.subcategory }}
    {% if form.subcategory.errors %}
        <ul class="error">
            {% for error in form.subcategory.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>

    <input type="submit" value="Submit">
</form>

{% endblock %}