{% extends 'base.html' %}
{% block title %}Simple Forum{% endblock %}
{% block content %}

<h1>Simple Forum</h1>

<div class="username">
{% if username %}
    <span class="username">{{ username }}</span>
    <a href="{{ url_for('logout') }}">logout</a>
{% else %}
    <a href="{{ url_for('login') }}">login</a>
{% endif %}
</div>

{% if username %}
    <a href="{{ url_for('create') }}">create</a>
{% endif %}

{% if posts %}

    <p>There {{ posts|posts_length_string }}</p>

    <ul>

        {% for post in posts %}
        <li>
            <h3>{{ post.title }}</h3>
            <p>
                <em>Created: </em>{{ post.created|format_date }}
                {% if username and user_id == post.author_id %}
                    <a href="{{ url_for('edit', post_id=post.id) }}">edit</a>
                {% endif %}
            </p>
            <p>
                {{ post.body }}
            </p>
        </li>
        {% endfor %}

    </ul>

{% else %}

    <em>No posts!</em>
    
{% endif %}

{% endblock %}